@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-green-500 dark:focus-visible:outline-violet-500 focus-visible:outline-dashed focus-visible:-outline-offset-4 focus-visible:outline-2;
  }

  ::-webkit-scrollbar {
    @apply w-[6px] h-0;
    scrollbar-width: 6px;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-800;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    @apply bg-transparent;
}
}

/* For AppBar */
.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

.undraggable {
    -webkit-app-region: no-drag;
  }